# Logs
case/logs/

# Mesh
case/constant/polyMesh/

# Postprocessing
case/postProcessing/
case/sequencedVTK/

# ParaView
*.foam
*.paraFoam

# Parallel running
case/processor*/

# Remote execution
nohup.out
